nav {
  padding-bottom: 40px;
}

.nav-footer {
  padding: 24px;
  text-align: center;
  color: #616161;

  position: absolute;
  bottom: 0;
}

.nav-container {
  min-height: 100%;
  position: relative;
  padding-bottom: 96px;
}